# Documentation
rinohtype==0.4.2
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1

ipython==7.16.1
jupyter==1.0.0
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
scipy==1.5.4
tensorflow#==1.7.1
torch==0.4.0

# unityagents==0.4.0
